.claude/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
node_modules/
dist/
out/
.DS_Store
.env
*.tsbuildinfo
*.vsix
**/*.DS_Store
scripts/*
!scripts/*.mts
!scripts/*.ts
coverage/
!img/*
**/pli.merged.json
MISSING-TOKENS.md
packages/preprocessor-cics/src/generated/
packages/preprocessor-db2/src/generated/