/**
 * This program and the accompanying materials are made available under the terms of the
 * Eclipse Public License v2.0 which accompanies this distribution, and is available at
 * https://www.eclipse.org/legal/epl-v20.html
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 * Copyright Contributors to the Zowe Project.
 *
 */

html {
  background-color: #1f1f1f;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  color: white;
  padding: 12px;
}

.name {
  flex: 1;
}

.share {
  margin-right: 12px;
  cursor: pointer;
}

.share-info {
  transition: opacity 0.3s;
  margin-right: 20px;
  opacity: 0.7;
}

.share-info.hidden {
  opacity: 0;
}

.share:hover {
  color: #4cabf3;
  text-decoration: underline;
}

.border {
  display: flex;
  flex-direction: column;
}

#vscode-views-root {
  height: calc(100vh - 43px);
}

#editorsDiv {
  flex: 1;
  min-width: 0;
}

#editors {
  display: none;
}

#monaco-root {
  flex: 1;
  height: 100%;
}

#panel {
  flex: 1;
  min-height: 0;
}

#workbench-container {
  height: calc(100vh - 43px);
  display: flex;
  flex-direction: column;
}

#workbench-top {
  display: flex;
  flex: 2;
}
