/**
 * This program and the accompanying materials are made available under the terms of the
 * Eclipse Public License v2.0 which accompanies this distribution, and is available at
 * https://www.eclipse.org/legal/epl-v20.html
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 * Copyright Contributors to the Zowe Project.
 *
 */

html {
  background-color: #1f1f1f;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--vscode-editorWidget-background);
  color: var(--vscode-editorWidget-foreground);
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  color: white;
  padding: 12px;
}

.name {
  flex: 1;
}

.share {
  margin-left: 12px;
  margin-right: 12px;
  cursor: pointer;
}

.share-info {
  transition: opacity 0.3s;
  margin-right: 20px;
  opacity: 0.7;
}

.share-info.hidden {
  opacity: 0;
}

.share:hover {
  color: #4cabf3;
  text-decoration: underline;
}

.border {
  display: flex;
  flex-direction: column;
}

#sidebarDiv {
  display: flex;
  flex: none;
  border: 1px solid var(--vscode-editorWidget-border);
}

#sidebar {
  width: 300px;
}

#editorsDiv {
   flex: 1;
   min-width: 0;
}

#editors {
  position: relative;
  min-width: 0;
  height: 99%;
  border: 1px solid var(--vscode-editorWidget-border);
}

#panel {
  flex: 1;
  border: 1px solid var(--vscode-editorWidget-border);
  min-height: 0;
}

#titleBar {
  position: relative;
  flex: none;
}

#banner {
  flex: none;
}

#workbench-container {
  height: 95vh;
  display: flex;
  flex-direction: column
}

#workbench-top {
  display: flex;
  gap: 4px;
  flex: 2;
  min-height: 0
}

.action-label[aria-label="New Folder..."] {
  display: none !important;
}

.pli-skippedCode {
  opacity: 0.55;
}


